* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('../images/bgcat.png');
}
.header {
    background-color: #028174;
    text-align: center;
    padding: 15px;
    width: 100%;
    font-family: 'Sigmar', cursive;
    font-size: 50px;
    color: #D1FEFF;
}
.header img {
    width: 55px;
    display: inline-block;
}
.navbar{
    background-image: url("../images/navbg.png");
    border-bottom: 2px solid white;
    overflow: hidden;
    position: sticky;
    top: 0;
    text-align: center;
}
.navbar a{
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
}
.navbar a:hover{
    color: black;
    background-color: #dfdfdf;
}
.navbar a.active{
    color: white;
    background-color: #028174;
}
.slider {
    width: 1400px;
    height: 630px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: 100px;
}
.wrapper {
    width: 100%;
    height: 550px;
    display: flex;
    animation: slide 15s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img {
    width: 100%;
}
.content {
    background-image: url("../images/bgpaw.png");
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 650px;
}
.about {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 30%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 80px;
}
.text-box {
    width: 40%;
    text-align: left;
}
.text-box h1 {
    color: #028174;
}
.text-box p {
    margin: 30px auto;
}
.image {
    text-align: left;
}
.image img {
    max-width: 100%;
    height: 350px;
}
.text-box a.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #028174;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.text-box a.button:hover {
    background-color: #00655b;
}
.container {
    max-width: 1400px;
    margin:0 auto;
    padding:48px 0px;
}
.container h3 {
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:#000000;
    text-align: center;
    margin-top: 40px;
}
.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    width:100%;
    margin: 0 auto;
}
.container .products-container .product {
    text-align: center;
    padding: 40px 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    outline: .1px solid #ccc;
    outline-offset: -24px;
    cursor: pointer;
}
.container .products-container .product:hover {
    outline: .2px solid #222;
}
.container .products-container .product img {
    height: 250px;
    width: 300px;
}
.container .products-container .product:hover img {
    transform: scale(1.1);
}
.container .products-container .product h3 {
    padding:.12px 0;
    font-size: 25px;
    color:#444;
}
.container .products-container .product:hover h3 {
    color:#27ae60;
}
.container .products-container .product .price {
    font-size: 25px;
    color:#444;
}
.products-preview{
    position:absolute;
    top:0; 
    left:0;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.products-preview .preview {
    display: none;
    padding:32px;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 32px;
    width: 500px;
}
.products-preview .preview.active {
    display: inline-block;
}
.products-preview .preview img {
    height: 250px;
}
.products-preview .preview .fa-times {
    position: absolute;
    top:16px; 
    right:24px;
    cursor: pointer;
    color:#444;
    font-size: 34px;
}
.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}
.products-preview .preview h3 {
    color:#444;
    padding:.8px 0;
    font-size: 25px;
}
.products-preview .preview p {
    line-height: 1.5;
    padding: 16px 0;
    font-size: 20px;
    color:#777;
}
.products-preview .preview .price {
    padding:16px 0;
    font-size: 30px;
    color:#27ae60;
}
.products-preview .preview .buttons {
    display: flex;
    gap:24px;
    flex-wrap: wrap;
    margin-top: 16px;
}
.products-preview .preview .buttons .cart {
    flex: 1 1 256px;
    padding: 16px;
    font-size: 20px;
    color:#444;
    border:1px solid #444;
    text-decoration: none;
    background: #444;
    color:#fff;
}
.products-preview .preview .buttons .cart:hover {
    background: #111;
}
.footer {
    background-color: #028174;
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 30px;
}
.container1 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 10px;
}
.logo{
    width: 350px;
}
.company p {
    text-align: center;
}
.row h3{
    color:#8ACD4F;
    margin-bottom: 20px;
    position: relative;
}
.links1 p {
    display: inline-block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 15px;
    position: relative;
    transition: 0.3s ease;
}
.links2 a {
    display: inline-block;
    text-decoration: none;
    color:#f2f2f2;
    position: relative;
    transition: 0.3s ease;
    margin: 0 10px;
}
.links2 a:hover {
    transform: scale(1.1);
}
.social a i {
    color:#ffffff;
    margin-right: 20px;
    transition: 0.3s ease;
}
.social a i:hover {
    transform: scale(1.5);
}
@media screen and (max-width:1000px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 1500px) {
    .slider {
        width: 100%;
        height: auto;
        margin: 0;
        position: static;
        transform: none;
        top: auto;
        left: auto;
    }
    .wrapper {
        height: auto;
    }
    img {
        width: 100%;
        height: auto;
    }
    .content {
        margin-top: 30px;
    }
}
@media screen and (max-width:768px){
    .products-preview .preview {
        width:100%;
    }
    .products-preview {
        width:100%;
        display:flex;
    }
}
@media screen and (max-width:500px) {
    .container .products-container, .container .products-container .product {
        width:100%;
    }
}
@media screen and (max-width:1200px) {
    .row{
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;
        align-items: center;
        text-align: center;
    }
    .logo {
        width: 250px;
    }
    .company, .contact, .useful-links {
        margin-bottom: 30px;
    }
    .links2 {
        display: flex;
        flex-direction: column;
    }
    .content .about {
        display: flex;
        flex-direction: column;
    }
}