* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    background-color: #028174;
    text-align: center;
    padding: 15px;
    width: 100%;
    font-family: 'Sigmar', cursive;
    font-size: 50px;
    color: #D1FEFF;
}
.header img {
    width: 55px;
    display: inline-block;
}
.navbar{
    background-image: url("../images/navbg.png");
    border-bottom: 2px solid white;
    overflow: hidden;
    position: sticky;
    top: 0;
    text-align: center;
}
.navbar a{
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
    margin: 0 30px;
}
.navbar a:hover{
    color: black;
    background-color: #dfdfdf;
}
.navbar a.active{
    color: white;
    background-color: #028174;
}
.body {
    background-image: url("../images/bgcat.png");
    padding: 10px;
    text-align: center;
}
.contactus {
    background-color: rgba(255, 248, 228, 0.8);
    width: 65%;
    padding: 120px 20px;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 20px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content i {
    font-size: 50px;
}
.content h3 {
    color: #028174;
}
.footer{
    background-color: #028174;
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 30px;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 10px;
}
.logo{
    width: 350px;
}
.company p {
    text-align: center;
}
.row h3{
    color:#8ACD4F;
    margin-bottom: 20px;
    position: relative;
}
.links1 p {
    display: inline-block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 15px;
    position: relative;
    transition: 0.3s ease;
}
.links2 a{
    display: inline-block;
    text-decoration: none;
    color:#f2f2f2;
    position: relative;
    transition: 0.3s ease;
    margin: 0 10px;
}
.links2 a:hover{
    transform: scale(1.1);
}
.social a i{
    color:#ffffff;
    margin-right: 20px;
    transition: 0.3s ease;
}
.social a i:hover{
    transform: scale(1.5);
}
@media screen and (max-width:1000px){
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:1200px) {
    .content {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width:1200px) {
    .row{
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;
        align-items: center;
        text-align: center;
    }
    .logo {
        width: 250px;
    }
    .company, .contact, .useful-links {
        margin-bottom: 30px;
    }
    .links2 {
        display: flex;
        flex-direction: column;
    }
}