@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}
html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track {
    background: #fff;
}
html::-webkit-scrollbar-thumb {
    background: #028174;
    border-radius: 5rem;
}
section {
    padding: 2rem 9%;
}
.heading {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 2rem;
}
.heading span {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: #028174;
}
.heading h3 {
    font-size: 3rem;
    color: #130f40;
}
body{
    background-color: #f0f0f0;
    font-family: system-ui;
}
  /* header */
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 9%;
}
.head {
    display: flex;
    align-items: center;
}
.logo1 {
    margin-right: 10px; 
    width: 4.5rem;
}
.text1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bolder;
    color: #130f40;
}
.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #666;
}
.header .navbar a:hover {
    color: #028174;
}
.header .navbar a.active{
    color: #028174;
}
.header .icons {
    display: flex; 
    align-items: center; 
}
.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: #f7f7f7;
    color: #130f40;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}
.header .icons div:hover {
    color: #fff;
    background: #028174;
}
.header .shopping{
    position: relative;
    text-align: right;
}
.header .shopping img{
    width: 25px;
    margin-top: 1rem;
}
.header .shopping span{
    background: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -10px;
    left: 80%;
    padding: 0px 10px;
    font-size: 1.4rem;
}
#menu-btn {
    display: none;
}
@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
                transform: translateY(5rem);
        opacity: 0;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
                transform: translateY(5rem);
        opacity: 0;
    }
}
  /* header ends */

/* search form */
.search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: #fff;
    z-index: 1000;
    display: none;
}

.search-form-container.active {
    display: block;
}

.search-form-container form {
    height: 7rem;
    border-bottom: 0.2rem solid #130f40;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: fadeUp .4s linear;
            animation: fadeUp .4s linear;
}

.search-form-container form input {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    color: #130f40;
    text-transform: none;
    padding-right: 1rem;
}

.search-form-container form label {
    font-size: 3rem;
    cursor: pointer;
    color: #130f40;
}

.search-form-container form label:hover {
    color: #028174;
}
/* search form ends */

/* login form */
.login-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    padding: 0 2rem;
    display: none;
}

.login-form-container.active {
    display: block;
}

.login-form-container form {
    margin: 2rem auto;
    max-width: 40rem;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear;
            animation: fadeUp .4s linear;
}

.login-form-container form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #130f40;
}

.login-form-container form .box {
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    width: 100%;
}

.login-form-container form .remember {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
}

.login-form-container form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
}

.login-form-container form .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

.login-form-container form p {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a {
    color: #028174;
}

.login-form-container form p a:hover {
    color: #130f40;
    text-decoration: underline;
}
/* login form ends */

.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
.list{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5rem;
    padding: 1rem 0;
}
.list .item{
    background-color: #ffffff;
    margin-bottom: 3rem;
    padding: 4rem 5rem;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
    padding-top: 1rem;
    color: #110f29;
}
.list .item img{
    max-width: 100%;
    object-fit: contain;
    height: 23rem;
    margin: 0 6.5rem;
}
.list .item .title{
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
}
.list .item .title:hover {
    color: #028174;
}
.list .item .breed, .age, .gender, .deworm, .vaccination{
    font-size: 1.6rem;
}
.list .item .price{
    margin: 10px;
    font-size: 1.9rem;
    text-align: center;
}
.list .item .original-price {
    text-decoration: line-through;
    color: #999999;
}

.list .item .discounted-price {
    color: #028174;
}
.list .item button{
    background-color: #028174;
    color: #ffffff;
    border: none;
    padding: .7rem 1rem;
    border-radius: 3em;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background-color 0.3s ease;
    text-align: center;
    display: block; 
    width: 100%; 
    margin-top: 1rem;
}

.list .item button:hover {
    background-color: #b2e3db;
    color: #028174;
}
.card{
    position: fixed;
    top:80px;
    left: 100%;
    width: 400px;
    background-color: #ffffff;
    color: black;
    height: 90vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 400px);
}
.active .container{
    transform: translateX(-200px);
}
.active .heading{
    transform: translateX(-200px);
}
.card h1{
    color: #028174;
    font-weight: 500;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 3rem;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.3rem;
}
.card .checkOut div{
    background-color: #028174;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #000000;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
.total {
    position: absolute;
    bottom: 8rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.3rem;
    background-color: #028174;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1000px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a {
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }
    .home .home-parallax-img {
        top: 0;
        right: 0;
        width: 130%;
    }
    .order form .flex .inputBox {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-content: flex-start;
        flex-wrap: wrap;
        margin-left: 2.5rem;
    }

    .list .item {
        padding: 2rem;
        text-align: left;
        margin: 0 auto;
        width: 45%;
    }

    .list .item img {
        height: auto;
        max-width: 60%;
        margin: 2rem 0rem 2rem 10rem;
    }

    .list .item .title {
        font-size: 1.8rem;
    }

    .list .item .price {
        font-size: 1.6rem;
    }
}